# for precompiled tensorflow
wheel

# django
django==2.2.4

# for auth
django-allauth==0.39.1

# for addClass in templates
django-widget-tweaks==1.4.5

# for materializecss
django-material==1.5.8

# for datatables
django-datatables-view
django-datatable-view  # included for: No module named 'datatableview'

# for export csv, xls
django-queryset-csv
django-excel-response

# for save to SQL
mysqlclient
SQLAlchemy

# for JSON in MYSQL
jsonfield

# for load xls, csv and save to SQL
xlrd
pandas
numpy

# for TensorBoard
tensorflow==1.13.1

# for Graph
plotly
statsmodels

# This part is for temporary Heroku support
gunicorn
git+https://github.com/serkanaltuntas/django-heroku

#
django-extensions


absl-py==0.8.0
astor==0.8.0
certifi==2019.6.16
chardet==3.0.4
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.4
django-allauth==0.39.1
django-datatable-view==0.9.0
django-datatables-view==1.18.0
django-excel-response==2.0.3
django-filter==2.2.0
django-material==1.5.8
django-mysql==3.2.0
django-queryset-csv==1.0.2
django-widget-tweaks==1.4.5
djangorestframework==3.10.3
et-xmlfile==1.0.1
gast==0.2.2
grpcio==1.23.0
gunicorn==19.9.0
h5py==2.9.0
idna==2.8
jdcal==1.4.1
jsonfield==2.0.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
mock==3.0.5
numpy==1.17.1
oauthlib==3.1.0
openpyxl==2.4.11
pandas==0.25.1
patsy==0.5.1
plotly==4.1.0
protobuf==3.9.1
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
retrying==1.3.3
scipy==1.3.1
six==1.12.0
SQLAlchemy==1.3.8
sqlparse==0.3.0
statsmodels==0.10.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
unicodecsv==0.14.1
urllib3==1.25.3
Werkzeug==0.15.5
whitenoise==4.1.3
xlrd==1.2.0
