# for precompiled tensorflow
wheel

# django
django==2.2.4

# for auth
django-allauth==0.39.1

# for addClass in templates
django-widget-tweaks==1.4.5

# for materializecss
django-material==1.5.8

# for datatables
django-datatables-view
django-datatable-view  # included for: No module named 'datatableview'

# for export csv, xls
django-queryset-csv
django-excel-response

# Access-Control-Allow-Origin
django-cors-headers

# Basic Auth for importation / exportation
# django-basicauth

# for save to SQL
mysqlclient
SQLAlchemy

# for JSON in MYSQL & SQLite
jsonfield

# for load xls, csv and save to SQL
xlrd
xlwt
pandas
numpy

# for TensorBoard
#tensorflow==1.13.1
tensorflow==2.11.1
setuptools

# for Graph
plotly
statsmodels

# This part is for temporary Heroku support
gunicorn
git+https://github.com/serkanaltuntas/django-heroku

#
django-extensions
djangorestframework==3.10.3
django-mysql==3.2.0

# export csv, xls, xlsx, xml
rest-pandas

# import csv
django-pandas

#
pytest

# For correlation heat-map
seaborn
matplotlib
#mpld3
jinja2

