
img {
  border: 3px solid #282c34;
}
.container-fluid {
  height: 100vh;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid > div {
  width: 85%;
  min-width: 300px;
  max-width: 500px;
}
.card {
  width: 100%;
}
.social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn a, .btn a:hover {
  color: white;
  text-decoration: none ;
}

.cursor-pointer{
  cursor: pointer;
}

/* BrainFactory CSS */

body {
  overflow-x: hidden;
}

.bf-main-blue-1 {
  background-color: #91E5F6 !important;
}

.bf-main-blue-2 {
  background-color: #84D2F6 !important;
}

.bf-main-blue-3 {
  background-color: #59A5D8 !important;
}

.bf-main-blue-4 {
  background-color: #386FA4 !important;
}

.bf-main-blue-5{
  background-color: #133C55 !important;
}

/* BrainFactory CSS */
.bf-blue-1 {
  background-color: #91E5F6 !important;
}

.bf-blue-2 {
  background-color: #84D2F6 !important;
}

.bf-blue-3 {
  background-color: #59A5D8 !important;
}

.bf-blue-4 {
  background-color: #386FA4 !important;
}

.bf-blue-5{
  background-color: #133C55 !important;
}

.bf-text-blue-1 {
  color: #91E5F6;
}

.bf-text-blue-2 {
  color: #84D2F6;
}

.bf-text-blue-3 {
  color: #59A5D8;
}

.bf-text-blue-4 {
  color: #386FA4;
}

.bf-text-blue-5{
  color: #133C55;
}

.i-machine-option-list {
  display: none;
}

.i-table-head-note {
  padding-left: 10px;
  font-size: 10px;
}

.i-add-step2-table tbody td {
  padding: 3px 5px !important;
  border: 1px solid;
}

/* Excels */
.i-excel th, .i-excel td {
    border: 1px solid #dedede;
    padding: 2px 5px;
    height: 36px !important;
}

.i-excel thead tr {
    font-family: Calibri;
    background: #efefef;
}

.i-excel-center, .i-excel-center th, .i-excel-center td {
  text-align: center;
}

.i-column-type-line {
    font-family: Calibri;
    background: #efefef;
    text-align: center;
}

.i-excel-errors th, .i-excel-warnings th{
}

.i-mouse-hand tbody tr:hover {
  cursor: pointer;
}

.i-textarea-5 {
  min-height: 8rem !important;
  max-height: 14rem !important;
}

.i-min-width-135 {
  min-width: 135px;
}

.bf-mb-20 {
  margin-bottom: 20px;
}

.submenu {
  position: fixed;
  display:none;
  z-index: 9999;
}

.bf-sub-menu a:hover {
  background-color: #d2dee8 !important;
  color: #000 !important;
}

.bf-grey-1 {
  background-color: #f2f6f9 !important;
}
  .bf-grey-1 a{
    color: #3e3f41 !important;
  }

.bf-grey-2 {
  background-color: #d2dee8 !important;
  color: #3e3f41;
}
  .bf-grey-2 a{
    color: black !important;
  }

.bf-grey-3 {
  background-color: #a2b9ca !important;
}

.error_page {
  margin-top: 7% !important;
}

.error_text {
  margin-top: 38px;
}

.bf-table-outer {
  position: relative;
  overflow-x: auto;
}

.bf-table-min-width-150 th{
  min-width: 150px;
}

.bf-table-min-width-180 th{
  min-width: 180px !important;
}

.bf-table-min-width-200 th{
  min-width: 400px !important;
  background: orange !important;
}

.bf-table-min-width-250 th{
  min-width: 250px;
}

.bf-content {
/*  margin-top: 30px; */
}

table textarea:disabled, table textarea:disabled {

}

.bf-full-page-modal {
  position: fixed;
  width: 600px;
  margin-top: 10px;
  z-index: 9999;
}

@media only screen and (min-width: 992px) {
  .bf-content {
    margin-left: 330px;
  }
}
@media only screen and (max-width: 992px) {
  .bf-content {
    margin-left: 30px;
  }
}

.bf-modal-team-create {
    height: 250px !important;
}

/*
f2f6f9 
3e3f41
*/