{% extends 'base.html' %}
{% load static %}
{% load account %}
{% load socialaccount %}
{% block title %} Sign in {% endblock %}

{% block content %}
<input name="csrf" type="hidden" value="{{ csrf_token }}">
<div class="z-depth-1">
    <div class="nav-wrapper bf-grey-1 col l12">
        <ul id="A1" class="left">
            <li><a href="#">Add New Machine</a></li>
        </ul>
    </div>
</div>
<div class="col l12 no-padding z-depth-5 bf-table-outer">
    <table class="updateBeforeLoading bf-table-min-width-180" name="bf-on-off-table" class="i-excel col l12 m12 s12 white black-text bf-table-machine-add">
        <thead>
            <tr>
                {% for col in machine.analysissource_columnnameinput %}
                <th data-id="{{col.id}}" id="col{{col.id}}_name" class="center">{{ col }}</th>
                {% endfor %}
                {% for col in machine.analysissource_columnnameignore %}
                <th data-id="{{col.id}}" id="col{{col.id}}_name" class="center bf-disabled">{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            <tr class="i-excel-description-line">
                {% for col in machine.analysis_source_columns.all %}
                <td data-line="cell{{cell.id}}" class="{% if col.column_type == 'IGN' %}bf-disabled{% endif %}">
                    <textarea name="cell{{col.id}}_desc" class="materialize-textarea" placeholder="Description">{{col.desc}}</textarea>
                </td>
                {% endfor %}
            </tr>
            <tr>
                {% for col in machine.analysissource_columnnameinput %}
                <td class="center ioLine" data-line="cell{{cell.id}}">
                    <label>
                        <input value="input" name="cell{{col.id}}_column_type" data-val="IN" class="with-gap" type="radio"/>
                        <span>Input</span>
                    </label>
                    <label>
                        <input value="output" name="cell{{col.id}}_column_type" data-val="OUT" class="with-gap" type="radio" {% if col.column_type == "OUT" %} checked {% endif %} />  
                        <span>Output</span>
                    </label>
                </td>
                {% endfor %}
                {% for col in machine.analysissource_columnnameignore %}
                <td class="center ioLine data-line="cell{{cell.id}}">
                    <label>
                        <input value="input" name="cell{{col.id}}_column_type" data-val="IN" class="with-gap" type="radio" {% if col.column_type != "OUT" and col.column_type != "IGN"  %} checked  {% endif %} />
                        <span>Input</span>
                    </label>
                    <label>
                        <input value="output" name="cell{{col.id}}_column_type" data-val="OUT" class="with-gap" type="radio" {% if col.column_type == "OUT" %} checked {% endif %} />  
                        <span>Output</span>
                    </label>
                </td>
                {% endfor %}
                {% for col in machine.analysissource_columnnameoutput %}
                <td class="center ioLine {% if col.column_type == 'IGN' %}bf-disabled{% endif %}" data-line="cell{{cell.id}}">
                    <label>
                        <input value="input" name="cell{{col.id}}_column_type" data-val="IN" class="with-gap" type="radio" {% if col.column_type != "OUT" and col.column_type != "IGN"  %} checked  {% endif %} />
                        <span>Input</span>
                    </label>
                    <label>
                        <input value="output" name="cell{{col.id}}_column_type" data-val="OUT" class="with-gap" type="radio" {% if col.column_type == "OUT" %} checked {% endif %} />  
                        <span>Output</span>
                    </label>
                </td>
                {% endfor %}
            </tr>
            <tr class="i-column-type-lines">
                {% for col in machine.analysissource_columnnameinput %}
                <td class="i-column-type-line data-line='cell{{cell.id}}'">
                Input
                </td>
                {% endfor %}
                {% for col in machine.analysissource_columnnameignore %}
                <td class='i-column-type-line' data-line="cell{{cell.id}}">
                Ignore
                </td>
                {% endfor %}
                {% for col in machine.analysissource_columnnameoutput %}
                <td class="i-column-type-line" data-line="cell{{cell.id}}">
                Output
                </td>
                {% endfor %}
            </tr>
            <tr>
                {% for col in machine.analysis_source_columns.all %}
                <td data-line="cell{{cell.id}}" class="{% if col.column_type == 'IGN' %}bf-disabled{% endif %}"></td>
                {% endfor %}
            </tr>
            <tr>
                {% for col in machine.analysis_source_columns.all %}
                <td data-line="cell{{cell.id}}" class="{% if col.column_type == 'IGN' %}bf-disabled{% endif %}"></td>
                {% endfor %}
            </tr>
            <tr>
                {% for col in machine.analysis_source_columns.all %}
                <td data-line="cell{{cell.id}}" class="{% if col.column_type == 'IGN' %}bf-disabled{% endif %}"></td>
                {% endfor %}
            </tr>
            <tr>
                {% for col in machine.analysis_source_columns.all %}
                <td class="center bf-save-button-zone" data-line="cell{{cell.id}}">

                  <div class="switch">
                    <label>
                    Off {{col.id}}
                    <input id="cell{{col.id}}" class="bf-on-off-machine" type="checkbox" {% if col.column_type != "IGN" %} checked  {% endif %} />
                    <span class="lever"></span>
                    On
                    </label>
                </div>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td colspan={{num_cols}}>
                <div class="row col l12 offset-s1">
                    <br>
                    <a name="saveMachine" href="/machine/{{machine.id}}/project/" class="waves-effect waves-light btn">Save</a>
                </div>
            </td>
        </tr>
    </table>

</div>

<div class="tempArea"></div>
{% endblock %}