{% extends 'base.html' %}
{% load static %}
{% load account %}
{% load socialaccount %}
{% block title %} Sign in {% endblock %}

{% block content %}

    <div class="z-depth-1">
        <div class="nav-wrapper bf-grey-1 col l12">
            <ul id="A1" class="left">
                <li><a href="#">Generation of Python Code</a></li>
            </ul>
        </div>
    </div>

    <div class="col l12 m12 s12 white black-text z-depth-5">
        <br>
        <div class="col l4 m4"><b>Cost of generation of the model :</b></div>
        <div class="col l8 m8">model here</div>
        <br> <br>
        <div class="col l4 m4"><b>Cost of generation of update of the model :</b></div>
        <div class="col l8 m8">updated model here</div>
        <br> <br>
        <label class="col l12 m12">
            <input name="i-is-agree" type="checkbox" />
            <span>I agree to pay the cost of ...</span><br>
        </label>


        <br> <br> <br>
        <a name="i-next-after-agree" href="/machine/view_machineM" class="waves-effect waves-light btn left" disabled>Next</a>
        <br> <br>
    </div>

{% endblock %}