{% extends 'base.html' %}
{% load static %}
{% load account %}
{% load socialaccount %}
{% block title %} Sign in {% endblock %}

{% block content %}
    {% include "machine/tab_header.html" %}

    <div class="z-depth-1">
        <div class="nav-wrapper bf-grey-1 col l12">
            <ul id="A1" class="left">
                <li><a href="#">Project</a></li>
            </ul>
        </div>
    </div>

    <div class="col l12 m12 s12 white black-text z-depth-5">
        <form action="#"> {% csrf_token %}

                <table class="">
                    <tbody>
                        <tr>
                            <td>Project name</td>
                            <td>{{machine.name}}</td>
                        </tr>
                        <tr>
                            <td>Team</td>
                            <td>{{machine.team}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{machine.desc}}</td>
                        </tr>
                        <tr>
                            <td>Machine name</td>
                            <td>{{machine.name}}</td>
                        </tr>
                        {% if machine.datasource_is_public or datasource_sample_only_public or datasource_is_private %}
                        <tr>
                            <td>Data source</td>
                            <td>
                            {% if machine.datasource_is_public %}
                                Data source is public
                            {% elif datasource_sample_only_public %}
                                Data source sample only public
                            {% elif machine.datasource_is_private %}
                                Data source is private
                            {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>File</td>
                            <td><a href="/media/{{machine.input_file}}">Download</a></td>
                        </tr>                                                                                                            
                    </tbody>
                </table>

            <div class="col l12 m12 s12 white black-text">
                <div class="input-field col m12 valign-wrapper">

                </div>                
            </div>

        </form>                    
    </div>

{% endblock %}