{% extends 'base.html' %}
{% load static %}
{% load account %}
{% load socialaccount %}
{% block title %} Sign in {% endblock %}

{% block content %}

    <div class="z-depth-1">
        <div class="nav-wrapper bf-grey-1 col l12">
            <ul id="A1" class="left">
                <li><a href="#">Work</a></li>
            </ul>
        </div>
    </div>

    <div class="col l12 m12 s12 white black-text z-depth-5">
            
        <table class="">
            <thead>
                <tr>
                    <th>Work-ID</th>
                    <th>Work Added Date Time</th>
                    <th class="center">Training / Solving</th>
                    <th class="center">Status</th>
                    <th>FirstLineID</th>
                    <th>LastLineID</th>
                    <th>Errors </th>
                    <th>Warnings</th>
                </tr>
            </thead>
    
            <tbody>
                <tr>
                    <td>1531</td>
                    <td>11.11.2017</td>
                    <td class="center">Training</td>
                    <td class="center">Done!</td>
                    <td>Text here</td>
                    <td>Text here</td>
                    <td>Error text</td>
                    <td>Warning text</td>
                </tr>
                <tr>
                    <td>1531</td>
                    <td>11.11.2017</td>
                    <td class="center">Training</td>
                    <td class="center">
                        Done!
                    </td>
                    <td>Text here</td>
                    <td>Text here</td>
                    <td>Error text</td>
                    <td>Warning text</td>
                </tr>
                <tr>
                    <td>1531</td>
                    <td>11.11.2017</td>
                    <td class="center">Training</td>
                    <td class="center">Done!</td>
                    <td>Text here</td>
                    <td>Text here</td>
                    <td>Error text</td>
                    <td>Warning text</td>
                </tr>
                <tr>
                    <td>1531</td>
                    <td>11.11.2017</td>
                    <td class="center">Training</td>
                    <td class="center">Done!</td>
                    <td>Text here</td>
                    <td>Text here</td>
                    <td>Error text</td>
                    <td>Warning text</td>
                </tr>
                        
            </tbody>
        </table>            
        <br>
        <a href="/machine/view_machineP" class="waves-effect waves-light btn left">Next</a>
        <br> <br>

    </div>

{% endblock %}