{% extends 'base.html' %}
{% load static %}
{% block title %}  {% endblock %}

{% block content %}

    <div class="z-depth-1">
        <div class="nav-wrapper bf-grey-1 col l12">
            <ul id="A1" class="left">
                <li><a href="#">All Consulting</a></li>
            </ul>
        </div>
    </div>

    <div class="col l12 m12 s12 white black-text z-depth-5">

        <table class="" bf-data-datatable="yes">
            <thead>
                <tr>
                    <th>Date Creation</th>
                    <th>Team Name</th>
                    <th>Username</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
            {% for consulting_request in consulting_requests %}
                <tr>
                <td>{{consulting_request.created_date}}</td>
                <td>{{consulting_request.team}}</td>
                <td>{{consulting_request.created_by}}</td>
                <td>{{consulting_request.request}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}