{% extends 'base.html' %}
{% load static %}
{% block title %}  {% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="z-depth-1">
            <div class="nav-wrapper bf-grey-1 col l12">
                <ul id="A1" class="left">
                    <li><a href="#">New Consulting</a></li>
                </ul>
            </div>
        </div>


        <div class="col l12 m12 s12 white black-text z-depth-5">
            <div class="col l12 m12 s12">

            <form id="new-consulting-request-form" action="." method="POST" enctype="multipart/form-data"> {% csrf_token %}

                <div class="col l12 m12 s12">
                    <div class="input-field col l4 m4">
                        <p>
                            <label>
                                <span>{{ form.team.label }}</span>
                                {{ form.team }}
                            </label>
                        </p>
                    </div>
                </div>
                <div class="col l12 m12 s12 new-consulting-request">
                    <div class="input-field col l6 m8">
                        This consulting request is about<br>
                        <span class="red-text hide machine-alert">Please select a machine type</span>
                        <p>
                        <label>
                            {{ form.for_new_machine }}
                            <span>{{ form.for_new_machine.label }}</span>
                        </label>
                        </p>
                        <p>
                        <label>
                        <input type="checkbox" />
                            <span>{{ form.related_machine.label }}</span>
                        </label>
                        <div class="related_machine hide">
                            <span class="red-text hide existing-alert">Please select an existing machine</span>
                            {{ form.related_machine }}
                        </div>
                        </p>
                    </div>
                </div>
                <div class="col l12 m12 s12">
                    <div class="input-field col l4 m4">
                        {{ form.request }}
                        <label for="request">{{ form.request.label }}</label>
                    </div>
                </div>
                <div class="col l4 m6 s12">
                    <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="files" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    </div>
                </div>

                <div class="col l12 m12 s12">
                    <div class="input-field col m12 valign-wrapper">
                        <input type="submit" value="Send Consulting Request" class="btn green">
                    </div>
                </div>
    
            </form>                    

            </div>
        </div>

    {% endif %}

{% endblock %}
