{% extends 'base.html' %}
{% load static %}
{% block title %}  {% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="z-depth-1">
            <div class="nav-wrapper bf-grey-1 col l12">
                <ul id="A1" class="left">
                    <li><a href="#">Owner</a></li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="col l12 m12 s12 white black-text z-depth-5">
                <table class="i-table highlight">
                    <tbody>
                        <tr>
                            <td class="">Description</td>
                            <td class="">{{consulting_request.request}}</td>
                        </tr>
                        <tr>
                            <td class="">File(s)</td>
                            <td class="">{% for item in consulting_request.get_files %}{{ item }} {% endfor %}</td>
                        </tr>
                        <tr>
                            <td class="">Machine Name</td>
                            <td class="">{{ consulting_request.related_machine }}</td>
                        </tr>
                        <tr>
                            <td class="">Team Name</td>
                            <td class="">{{ consulting_request.team }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    {% endif %}

{% endblock %}