{% extends 'base.html' %}
{% block title %} Edit Team {% endblock %}

{% block content %}

    <div class="z-depth-1">
        <div class="nav-wrapper bf-grey-1 col l12">
            <ul id="A1" class="left">
                <li><a href="#">Detail Team</a></li>
            </ul>
        </div>
    </div>


    <div class="col l12 m12 s12 white black-text z-depth-5">
        
        <form action="." method="POST">{% csrf_token %}

            <div class="col l12 m12 s12">
                <div class="input-field col l4 m4">
                    {{ form.name }}
                    <label for="name">Team Name</label>
                </div>
            </div>

            <div class="col l12 m12 s12">
                <div class="input-field col m12 valign-wrapper">
                    <input type="submit" class="btn green" value="Save">
                </div>
            </div>

        </form>                    

    </div>
{% endblock %}
