{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datatable/datatables.min.css' %}"/>
{% endblock css %}

{% block js %}
<script type="text/javascript" src="{% static 'datatable/datatables.min.js' %}"></script>
{% endblock js %}

{% csrf_token %}

<script type="text/javascript" language="javascript" class="init">
// table
$(document).ready(function() {
    //
    var ajax_url = $('{{ table }}').attr('data-ajax-url');

    var dt_table = $('{{ table }}').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
          "url": ajax_url,
          "type": "POST",
          "data": function ( d ) {
              d.csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val();
          }
        }
    });
});
</script>
