<header>

  <style>
    #sidenav-left li {
      width: 100%;
    }
  </style>

  <ul id="sidenav-left" class="sidenav sidenav-fixed">

    <li class="logo"><a href="/dashboard" class="logo-container"><i class="material-icons left">spa</i></a></li>
    <li>
      <ul class="collapsible collapsible-accordion">
        <li class="bold waves-effect">
          <a class="collapsible-header">Input<i class="material-icons">filter_drama</i></a>
          <div class="collapsible-body">
                <ul>
                    <li><a href="/Machine/{{Machine_ID}}/Main" source="Machines - View-Edit.View-2A">Main</a></li>
                    <li><a href="/Machine/{{Machine_ID}}/Describe" source="Machines - View-Edit.View-2B">Describe</a></li>
                    <li><a href="/Machine/{{Machine_ID}}/InputCorrelation" source="Correlation.View-2C">Correlation</a></li>
                    <li><a href="/Machine/{{Machine_ID}}/InputGraph" source="Machines - View-Edit.View-8">Graph</a></li>
                </ul>
          </div>
        </li>

        <li class="bold waves-effect">
          <a class="collapsible-header">Output<i class="material-icons">filter_drama</i></a>
          <div class="collapsible-body">
                <ul>
                    <li><a href="#" source="Machines - View-Edit.View-3">Main</a></li>
                    <li><a href="#" source="Machines - View-Edit.View-8">Graph</a></li>
                </ul>
          </div>
        </li>

        <li class="bold waves-effect">
          <a class="collapsible-header">NN<i class="material-icons">filter_drama</i></a>
          <div class="collapsible-body">
                <ul>
                    <li><a href="/Machine/{{Machine_ID}}/NN/Main" source="Machines - View-Edit.View-2A">Main</a></li>
                    <li><a href="/Machine/{{Machine_ID}}/NN/Parameters" source="Machines - View-Edit.View-4">Parameters</a></li>
                    <li><a href="/Machine/{{Machine_ID}}/NN/Shape" source="Machines - View-Edit.View-4">Shape</a></li>
                    <li><a href="/Machine/{{Machine_ID}}/NN/Tensorboard" source="Machines - View-Edit.View-7">Tensorboard</a></li>
                </ul>
          </div>
        </li>

        <li class="bold waves-effect">
          <a class="collapsible-header">Importation<i class="material-icons">filter_drama</i></a>
          <div class="collapsible-body">
                <ul>
                    <li><a href="#" source="Machines - View-Edit.View-5">From file</a></li>
                    <li><a href="#" source="Machines - View-Edit.View-5">With API</a></li>
                </ul>
          </div>
        </li>

        <li class="bold waves-effect">
          <a href="/Machine/{{Machine_ID}}/Exportation/ToFile" class="collapsible-header">Exportation<i class="material-icons">filter_drama</i></a>
          <div class="collapsible-body">
                <ul>
                    <li><a href="/Machine/{{Machine_ID}}/Exportation/ToFile" source="Machines - View-Edit.View-6">To File</a></li>
                    <li><a href="/Machine/{{Machine_ID}}/Exportation/WithAPI" source="Machines - View-Edit.View-6">With API</a></li>
                </ul>
          </div>
        </li>

        <li class="bold waves-effect">
          <a class="collapsible-header">Processing<i class="material-icons">filter_drama</i></a>
          <div class="collapsible-body">
                <ul>
                    <li><a href="#" source="Machines - View-Edit.View-9">Work Queue</a></li>
                    <li><a href="#" source="Machines - View-Edit.View-A">Solving a File</a></li>
                    <li><a href="#" source="Machines - View-Edit.View-A">Solving by API </a></li>
                </ul>
          </div>
        </li>

        <li class="bold waves-effect">
          <a class="collapsible-header">Messages<i class="material-icons">filter_drama</i></a>
          <div class="collapsible-body">
                <ul>
                    <li><a href="#" source="Machines - View-Edit.View-M">Received</a></li>
                </ul>
          </div>
        </li>
      </ul>
    </li>

  </ul>

</header>

<!-- Select active item -->
<script type="text/javascript">
    function findLinkByLocation( localtion ) {
        var nav = document.getElementById("sidenav-left");
        var links = nav.getElementsByTagName("a");

        for (var i = 0, l = links.length; i < l; i++) {
            var link = links[i];

            if (link.href == location && !link.className) {
                return link;
            }

        }
    }

    var link = findLinkByLocation( window.location );

    if (link) {
        var li2 = link.parentNode;
        var li1 = li2.parentNode.parentNode.parentNode;

        li1.className = li1.className + " active";
        li2.className = li2.className + " active";
    }
</script>


<!-- Material UI -->
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {});
  });
</script>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, {});
  });
</script>
