<div class="nav-content white-text">
    <table class="highlight bf-blue-4 i-mouse-hand">
        <tbody>
            <tr class="click-row" line-url="/machine/view_machine1/"> <td class="{% if current_subpage == 'view_machine1' %} bf-blue-5 {% endif %}"> &nbsp; Machine Project</td></tr>
            <tr class="click-row" line-url="/machine/view_machine2/"> <td class="{% if current_subpage == 'view_machine2' %} bf-blue-5 {% endif %}"> &nbsp; Input</td></tr>
            <tr class="click-row" line-url="/machine/view_machine3/"> <td class="{% if current_subpage == 'view_machine3' %} bf-blue-5 {% endif %}"> &nbsp; output</td></tr>
            <tr class="click-row" line-url="/machine/view_machine4/"> <td class="{% if current_subpage == 'view_machine4' %} bf-blue-5 {% endif %}"> &nbsp; NN Parameters</td></tr>
            <tr class="click-row" line-url="/machine/view_machine7/"> <td class="{% if current_subpage == 'view_machine7' %} bf-blue-5 {% endif %}"> &nbsp; Tensorboard page </td></tr>
            <tr class="click-row" line-url="/machine/view_machine8/"> <td class="{% if current_subpage == 'view_machine8' %} bf-blue-5 {% endif %}"> &nbsp; Graph</td></tr>
            <tr class="click-row" line-url="/machine/view_machine9/"> <td class="{% if current_subpage == 'view_machine9' %} bf-blue-5 {% endif %}"> &nbsp; Work</td></tr>
            <tr class="click-row" line-url="/machine/view_machineP/"> <td class="{% if current_subpage == 'view_machineP' %} bf-blue-5 {% endif %}"> &nbsp; Generation of Python code</td></tr>
            <tr class="click-row" line-url="/machine/view_machineM/"> <td class="{% if current_subpage == 'view_machineM' %} bf-blue-5 {% endif %}"> &nbsp; Messages</td></tr>
        </tbody>
    </table>                
</div>