{% extends 'base.html' %}

{% block content %}

    <div class="z-depth-1">
        <div class="nav-wrapper bf-grey-1 col l12">
            <ul id="A1" class="left">
                <li>Inbox</li>
            </ul>
        </div>
    </div>
    <div class="col l12 m12 s12 white bf-mb-20 z-depth-5">

        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Sender</th>
                    <th>Message</th>
                </tr>
            </thead>

            <tbody>
                
                {% if messages %}
                <tr>
                    {% for message in messages %}
                        <td><a href="/messages/{{ message.id }}/">{{ message.created_date }}</a></td>
                        <td><a href="/messages/{{ message.id }}/">{{ message.created_by }}</a></td>
                        <td><a href="/messages/{{ message.id }}/">{{ message.message }}</a></td>
                    {% endfor %}
                </tr>
                {% else %}
                <tr>
                    <td>You do not have any messages</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

    </div>
{% endblock %}