{% extends 'base.html' %}

{% block content %}

    <div class="z-depth-1">
        <div class="nav-wrapper bf-grey-1 col l12">
            <ul id="A1" class="left">
                <li>
                    {% if current_subpage == 'write' %}
                        New Message
                    {% else %}
                        Reply Message (send to erdem)
                    {% endif %}
                    </li>
            </ul>
        </div>
    </div>

    <div class="col l12 m12 s12 white bf-mb-20 z-depth-5">

        <div class="col l8 m10 s12 ">
            <form action="" method="post">{% csrf_token %}

                <div class="row">

                {% if current_subpage == "write" %}
                <div class="input-field col s12">
                    <select>
                    <option value="" disabled selected>Select user</option>
                    <option value="1">User 1</option>
                    <option value="2">User 2</option>
                    <option value="3">User 3</option>
                    </select>
                </div>
                {% else %}
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <b>erdem : </b> Last message text here! Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                        </div>
                    </div>
                </div>
                {% endif %}
                
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea validate i-textarea-5"></textarea>
                    <label for="textarea1">Message</label>
                    </div>
                </div>

                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path" type="text">
                    </div>
                </div>
                <div class="col no-padding file-field input-field">
                    <a class="waves-effect waves-light btn">Send Message</a>
                </div>

            </form>
        </div>

    </div>

{% endblock %}