{% extends 'machine/MachineLayout.html' %}
{% load static %}
{% load staticfiles %}
{% block title %} Exportation With API {% endblock %}

{% block main %}

    <div class="row">

        <div class="col s10 offset-s1  m10 offset-m1 xl10 offset-xl1">
            <div class="section">

                <!-- Here -->
                MachineExportationWithAPI
                <p>
                    <pre>
curl -v -X POST -d '{"username":"username","password":"********"}'  -H "Content-Type: application/json" http://ai.ixioo.com/api-token-auth/
                    </pre>
                </p>

                <p>
                    <pre>
{"token":"b5726b6b3c50644d52921acc3a52c09864a18143"}
                    </pre>
                </p>

                <p>
                    <pre>
curl -v -X GET "http://ai.ixioo.com/api/machine/16/InputLines?format=csv"  -H "Authorization: Token b5726b6b3c50644d52921acc3a52c09864a18143"
                    </pre>
                </p>

                <p>
                    <pre>
...
                    </pre>
                </p>

            </div>
        </div>
    </div>

{% endblock main %}
