{% extends 'machine/MachineLayout.html' %}
{% load static %}
{% load staticfiles %}
{% block title %} Importation With API {% endblock %}

{% block main %}

    <div class="row">

        <div class="col s10 offset-s1  m10 offset-m1 xl10 offset-xl1">
            <div class="section">

                <!-- Here -->
                <h4>Importation With API</h4>

                <h5>Sending HTTP-POST key:value</h5>
                <p>
                    <code style="display:block; background: #eee; padding: 20px; margin: 20px 0;">
                        POST http://ai.ixioo.com/Machine/{{Machine_ID}}/ImportationWithAPI
                        <br/>
                        {column:value, ...}
                    </code>

                    <br/>
                    Where 'column' one of: {{columns}}
                </p>

                <h5>Sending file</h5>
                <p>
                    <code style="display:block; background: #eee; padding: 20px; margin: 20px 0;">
                        POST http://ai.ixioo.com/Machine/{{Machine_ID}}/ImportationWithAPI
                        <br/>
                        {file: data}
                    </code>

                    <br/>
                    Where 'file' is reserved name, 'data' is file contents.
                </p>

                <h5>Example</h5>
                Python

                <!-- HighLight JS -->
                <link rel="stylesheet" href="/static/highlight/styles/default.css">
                <script src="/static/highlight/highlight.pack.js"></script>
                <script>hljs.initHighlightingOnLoad();</script>


                <p>
<pre style="background:#eee; padding:20px;">
<code class="python">
</code>
</pre>
                </p>

            </div>
        </div>
    </div>

{% endblock main %}
