{% extends 'base.html' %}

{% block content %}

  <header>

    <style>
      #sidenav-left li {
        width: 100%;
      }
    </style>

    <ul id="sidenav-left" class="sidenav sidenav-fixed">

      <li class="logo"><a href="/dashboard" class="logo-container"><i class="material-icons left">spa</i></a></li>
      <li>
        <ul class="">

          <li class="bold waves-effect">
            <a href="/Machine/{{Machine_ID}}/InputGraph" class="collapsible-header">Graph<i class="material-icons">filter_drama</i></a>
            <div class="">
                  <ul>
                      <li>
                        {{form}}
                      </li>
                  </ul>
            </div>
          </li>

        </ul>
      </li>

    </ul>

  </header>

  <main>
    <div class="container">

      {% block main %}{% endblock main %}

    </div>
  </main>

{% endblock content %}
