{% extends 'base.html' %}
{% load static %}
{% load account %}
{% load socialaccount %}
{% block title %} Sign in {% endblock %}

{% block content %}
    {% include "machine/tab_header.html" %}

        <div class="z-depth-1">
            <div class="nav-wrapper bf-grey-1 col l12">
                <ul id="A1" class="left">
                    <li><a href="#">Input</a></li>
                </ul>
            </div>
        </div>

        <div class="col l12 no-padding bf-table-outer z-depth-5">
            <table class="i-excel i-excel-center col l12 m12 s12 white black-text z-depth-5">
                <thead>
                    <tr>
                    {% for data in col %}
                        <th style="min-width:250px">{{ data.0 }}</th>
                    {% endfor %}
                    </tr>
                    <tr class="white">
                    {% for col in machine_input %}
                        <th class="i-disabled-cursor">
                            <label>
                                <input class="with-gap" name="group{{col.id}}" type="radio" disabled {% if col.column_type == "IN" %} checked {% endif %}/>
                                <span>Input</span>
                            </label>
                            <label>
                                <input class="with-gap" name="group{{col.id}}" type="radio" disabled {% if col.column_type == "OUT" %} checked {% endif %}/>
                                <span>Output</span>
                            </label>
                        </th>
                    {% endfor %}
                    </tr>
                    <tr>
                    {% for col in machine_input %}
                        
                        <th>Input</th>
                        
                    {% endfor %}
                    </tr>
                    <tr class="white">
                    {% for col in machine.analysis_source_columns.all %}
                        {% if error_present and col.column_type == 'IN' %}
                        <th class="red-text darken-1">{{ error }}</th>
                        {% endif %}
                    {% endfor %}
                    </tr>
                    <tr class="white">
                    {% for col in machine.analysis_source_columns.all %}
                        {% if warning_present and col.column_type == 'IN' %}
                        <th class="amber-text lighten-2">{{ warning }}</th>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    <tr>
                    {% for col in row %}
                        <tr>
                            {% for data in col %}
                            <td>{{ data }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td colspan="{{ num_cols }}" class="left-align">
                            <div class="left-align">
                                <br> 
                                <a href="/machine/{{machine.id}}/output/" class="btn">Next</a>
                                <br> <br>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}