{% extends 'base.html' %}
{% load static %}
{% load account %}
{% load socialaccount %}
{% block title %} Sign in {% endblock %}

{% block content %}
    {% include "machine/tab_header.html" %}
    
    <div class="z-depth-1">
        <div class="nav-wrapper bf-grey-1 col l12">
            <ul id="A1" class="left">
                <li><a href="#">Messages</a></li>
            </ul>
        </div>
    </div>

    <div class="col l12 m12 s12 white black-text z-depth-5">
            <form action="">{% csrf_token %}
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>User</th>
                        <th>Message</th>
                        <th>File</th>
                    </tr>
                </thead>
        
                <tbody>
                    {% for message in messages %}
                    <tr>
                        <td>DATE AREA</td>
                        <td><span data-name="erdem" data-user-id="5">{{message.created_by}}</span></td>
                        <td>{{message.message}}</td>
                        <td>{{message.message_file}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>19.03.2017 17:53</td>
                        <td><span data-name="burak" data-user-id="13">burak</span></td>
                        <td>Aliquam at quam mattis, lacinia lobortis magna. Morbi porta mi orci, non posuere dolor commodo non. Etiam convallis venenatis ex non elementum. Aenean.</td>
                        <td>report.pdf</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <form action="/" method="post"> {% csrf_token %}
                                <div class="row valign-wrapper ">
                                    <div class="col l9 valign-wrapper input-field">
                                        <input id="message1" type="text" class="validate valign-wrapper" placeholder="Message text here...">
                                    </div>
                                    <div class="col l3 valign-wrapper file-field input-field">
                                        <div class="col l4 valign-wrapper  btn">
                                            <span>File</span>
                                            <input type="file" multiple>
                                        </div>
                                        <div class="col l4 valign-wrapper  file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                                        </div>
                                        <div class="col l4 valign-wrapper  input-field right">
                                            <a href="/" class="btn green">Send</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            </form>

    </div>

{% endblock %}