{% extends 'base.html' %}
{% load static %}
{% load account %}
{% load socialaccount %}
{% block title %} Sign in {% endblock %}

{% block content %}
    {% include "machine/tab_header.html" %}

    <div class="z-depth-1">
        <div class="nav-wrapper bf-grey-1 col l12">
            <ul id="A1" class="left">
                <li><a href="#">Output</a></li>
            </ul>
        </div>
    </div>

        <div class="col l8 m8 white black-text z-depth-5" style="overflow-x: scroll; margin: 0px !important; padding: 0px !important;">
            <table class="i-excel i-excel-center white black-text bf-table-min-width-150">
                <thead>
                    <tr>
                    {% for data in col %}
                        <th>{{ data.0 }}</th>
                    {% endfor %}
                    </tr>
                    <tr>
                    {% for col in machine_input %}
                        <th>input</th>
                    {% endfor %}
                    </tr>
                    <tr class="i-excel-errors">
                    {% for col in machine.analysis_source_columns.all %}
                        {% if error_present and col.column_type == 'IN' %}
                        <th class="white red-text darken-1">{{ error }}</th>
                        {% endif %}
                    {% endfor %}
                    </tr>
                    <tr class="i-excel-warnings">
                    {% for col in machine.analysis_source_columns.all %}
                        {% if warning_present and col.column_type == 'IN' %}
                        <th class="white amber-text lighten-2">{{ warning }}</th>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    <tr>
                    {% for col in row %}
                        <tr>
                            {% for data in col %}
                            <td>{{ data }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col l4 m4 " style="overflow-x: scroll; margin: 0px !important; padding: 0px !important;">
            <table class="col l12 m12 i-excel i-excel-center white black-text bf-table-min-width-150">
                <thead>
                    <tr class="amber lighten-2">
                    {% for col in machine.analysis_source_columns.all %}
                        {% if col.column_type == 'OUT' %}
                        <th>{{ col.name }}</th>
                        {% endif %}
                    {% endfor %}
                    <tr class="amber lighten-2">
                    {% for col in machine.analysis_source_columns.all %}
                        {% if col.column_type == 'OUT' %}
                        <th>output</th>
                        {% endif %}
                    {% endfor %}
                    </tr>
                    <tr class="i-excel-errors">
                    {% for col in machine.analysis_source_columns.all %}
                        {% if error_present and col.column_type == 'OUT' %}
                        <th class="white red-text darken-1">{{ error }}</th>
                        {% endif %}
                    {% endfor %}
                    </tr>
                    <tr class="i-excel-warnings">
                    {% for col in machine.analysis_source_columns.all %}
                        {% if warning_present and col.column_type == 'OUT' %}
                        <th class="white amber-text lighten-2"> {{ warning }} </th>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    <tr>
                    {% for col in machine.analysis_source_columns.all %}
                        {% if col.column_type == 'OUT' %}
                        <td>{{ col }}</td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col l12 m12 white white black-text z-depth-5">
            <br> 
            <a href="/machine/{{machine.id}}/parameters/" class="btn">Next</a>
            <br> <br>
        </div>

{% endblock %}