{% extends 'base.html' %}
{% load static %}
{% block title %} Public List | Machines {% endblock %}

{% block content %}

<div class="z-depth-1">
    <div class="nav-wrapper bf-grey-1 col l12">
        <ul id="A1" class="left">
            <li><a href="#">Public Machines</a></li>
        </ul>
    </div>
</div>

<div class="col l12 m12 s12 white black-text z-depth-5">
    <table class="i-table highlight i-mouse-hand">
        <thead>
            <tr>
                <th>Name</th>
                <th>Received DateTime</th>
                <th>Description</th>
                <th>Input</th>
                <th>Output</th>
            </tr>
        </thead>
        <tbody>
        {% for machine in machines %}
            <tr class="click-row" line-url="/machine/{{machine.id}}">
                <td>{{ machine.name }}</td>
                <td>{{ machine.created_date }}</td>
                <td>{{ machine.desc }}</td>
                <td>{{ machine.input_col_names }}</td>
                <td>{{ machine.output_col_names }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
